@import url('styles.css');

.mainContent {
    padding: 20px 20px 20px 240px;
    background-color: var(--white);
    min-height: 100vh;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
}

.title {
    font-size: 1.8rem;
    font-weight: 700;
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    background-color: var(--primary-bg);
    width: 30%;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--shadow-color);
    padding: 20px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
}

.header .name .userName {
    font-size: 1.3rem;
    font-weight: 700;
}

.header .name .userID {
    font-weight: normal;
}

.header .headerLogo {
    display: flex;
    justify-content: flex-end;
}

.header .headerLogo img {
    height: 60px;
}

.form form{
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    gap: 15px;
    width: 100%;
}

#firstNameInput,
#lastNameInput,
#emailInput,
#contactNumberInput {
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    background-color: var(--primary-bg);
    width: 100%;
}

#emailInput,
#contactNumberInput{
    grid-column: span 2;
}

#firstNameInput:hover,
#lastNameInput:hover,
#emailInput:hover,
#contactNumberInput:hover {
    background-color: var(--highlight-color);
}

#firstNameInput:disabled,
#lastNameInput:disabled,
#emailInput:disabled,
#contactNumberInput:disabled {
    cursor: not-allowed;
}

#changePasswordButton,
#editButton,
#saveButton,
#cancelButton {
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
}

#changePasswordButton,
#editButton{
    grid-column: span 2;
}

#changePasswordButton:hover,
#editButton:hover,
#saveButton:hover,
#cancelButton:hover {
    background-color: var(--button-hover);
}

#changePasswordButton:active,
#editButton:active,
#saveButton:active,
#cancelButton:active {
    background-color: var(--button-active);
}

.editButton {
    grid-column: span 2;
}

.saveCancelButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    grid-column: span 2;
}

.saveCancelButtons input[type='submit'] {
    width: 100%;
}

.saveCancelButtons input[type='submit']:hover {
    background-color: var(--button-hover);
}

.saveCancelButtons input[type='submit']:active {
    background-color: var(--button-active);
}

.account-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.account-modal {
    background-color: var(--primary-bg);
    padding: 20px;
    width: 20%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--shadow-color);
    display: grid;
    gap: 15px;
    text-align: center;
}

.account-modal-icon {
    font-size: 3rem;
    color: var(--primary-color);
}

.account-modal-text {
    font-size: 1rem;
    font-weight: 500;
}

.account-modal input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-bg);
    width: 100%;
}

.account-modal-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}

.account-modal-buttons button {
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.account-modal-buttons button:hover {
    background-color: var(--button-hover);
}

.account-modal-buttons button:active {
    background-color: var(--button-active);
}

#accountSuccessOverlay .account-modal-buttons {
    grid-template-columns: 1fr;
    justify-items: center;
}

#confirmAccountSuccessBtn {
    width: auto;
    padding: 10px 20px;
    justify-self: center;
    text-align: center;
}

.account-modal-icon i {
    font-size: 2rem;
}

#cancelAccountPasswordBtn, #cancelButton, #cancelPasswordChangeBtn{
    background-color: var(--white);
    color: var(--primary-color);
}

.error-message {
    padding-top: 0;
    transition: padding-top 0.2s;
}

.error-message.active {
    padding-top: 10px;
    background-color: var(--primary-bg);
}

#inputError{
    width: 100%;
    text-align: center;
    grid-column: span 2;
    transition: padding-top 0.2s;
}