@import url('styles.css');

.mainContent{
    padding-left: 240px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--white);
    border-radius: 20px;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    display: flex;
    gap: 3%;
}
.content{
    width: 60%;
}
.content2{
    width: 40%;
    background: var(--primary-color);
    color: white;
    padding: 20px;
    border-radius: 10px;
}
h1{
    font-size: 1.3rem;
}

.summary{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 10px;
    width: 100%;
}
.summary .card{
    background-color: var(--primary-color);
    width: 100%;
    color: white;
    padding: 20px;
    border-radius: 10px;
    height: 130px;
    line-height: 100%;
    display: grid;
    align-items: center;
    box-shadow: 5px 5px 10px var(--shadow-color);
}
.card .cardIcon i{
    font-size: 1.3rem;
}
.card .cardInfo{
    font-weight: bolder;
    font-size: 1.3rem;
}
.notificationsList{
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
    background-color: var(--primary-bg);
    padding: 20px;
    box-shadow: 5px 5px 10px var(--shadow-color);
}
.notificationsList p{
    font-size: 1.3rem;
}
.notificationsList dl{
    margin: 10px 0;
    list-style: none;
    background-color: var(--white);
    padding: 10px 20px;
    border-radius: 10px;
}
.notificationsList dl dt{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
dt .name{
    font-weight: bold;
}
dt .date{
    text-align: end;
    color: #ec971f;
    font-size: .9rem;
}
dt .id{
    font-weight: bold;
    font-size: 1.1rem;
    color: black;
}

.appointmentList{
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
    background-color: var(--primary-bg);
    padding: 15px;
}
dd .info{
    font-size: 1rem;
    color: black;
}
.appointmentList dl dt{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}