@import url('styles.css');

body{
    background-color: white;
}

.mainAppointment{
    background-color: #e0e6ed;
    height: 38.4rem;
    margin-left: 220px;
    padding: 1rem;
}

.mainAppointment .appointment{
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 10px;
}

.appointment .input{
    border: 1px solid black;
    margin-bottom: 20px;
    padding: .5rem 1rem;
    display: flex;
    border-radius: 5px;
}

.top .firstRow, .secondRow{
    display: flex;
    gap: 7rem;
}

.appointment .inputReason{
    width: 30rem;
    height: 9rem;
}

.btnSubmit{
    all: none;
    padding: .7rem 2rem;
    text-align: center;
    width: 7.2rem;
    background-color: #1b1f3b;
    color: white;
    border-radius: 6px;
    transition: .5s;
    cursor: pointer;
}

.btnSubmit:hover{
    background-color: #434b88;
}

.submitText{
    margin-left: 240px;
    background-color: rgb(52, 179, 52);
    padding: 1rem;
    width: 20rem;
    color: white;
    border-radius: 10px;
}