@import url("styles.css");

.mainContainer{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.panel {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--shadow-color);
    min-width: 300px;
    max-width: 700px;
    height: 500px;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    place-items: center;
    padding: 0 50px;
}
.panel img{
    display: block;
    width: 12rem;
    margin: 20px auto;
}
.panel .loginForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.panel .registerForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6);
    gap: 10px;
    width: 100%;
    place-items: center;
}
form select, form input[type="tel"], form input[type="email"], form input[type="submit"]{
    grid-column: span 2;
}
form input{
    box-sizing: border-box;
}
form input[type="email"], input[type="password"], input[type="text"], input[type="tel"], select{
    padding: 10px 5px;
    width: 100%;
    border-radius: 5px;
    border-color: var(--primary-color);
    border-width: 1px;
    border-style: solid;
}
form input[type="submit"]{
    padding: 10px;
    width: 200px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
}