@import url('styles.css');

.mainContent {
    padding-left: 240px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--white);
    border-radius: 20px;
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.pageTitle p {
    font-size: 1.3rem;
    font-weight: bolder;
}

.testResultsContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

.recentTest, .reportsHistory {
    width: 100%;
    border-radius: 10px;
    background-color: var(--primary-bg);
    padding: 20px;
    box-shadow: 5px 5px 10px var(--shadow-color);
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.testInformation .header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
}

.left p {
    margin: 5px 0;
}

.label {
    font-weight: bold;
    min-width: 120px;
}

.right img {
    height: 60px;
    object-fit: contain;
}

hr {
    margin: 20px 0;
}

.subTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

th {
    background-color: var(--primary-color);
    color: white;
}

.highlight {
    color: red;
    font-weight: bold;
}

.footer {
    width: 100%;
    background-color: var(--primary-color);
    padding: 5px;
    color: var(--primary-color);
    text-align: center;
}

.downloadReportButton button {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-self: end;
    justify-content: center;
    align-items: center;
}

.downloadReportButton button:hover {
    background-color: var(--primary-dark);
}

/* Reports History */
.reportsHistory dl {
    margin: 10px 0;
    list-style: none;
    background-color: var(--white);
    padding: 10px 20px;
    border-radius: 10px;
}

.reportsHistory dt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

dt .name {
    font-weight: bold;
}

dt .date {
    text-align: end;
    color: rgb(189, 189, 189);
}
.testType {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
