@import url('styles.css');

.mainContent {
    padding-left: 240px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--white);
    border-radius: 20px;
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.mainContent .title{
    font-size: 1.8rem;
    font-weight: 700;
}
.header .header{
    font-size: 1.3rem;
    font-weight: 700;
}

.billingContainer {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
    margin: 20px 0;
}

.unpaidBills, .paidBills {
    width: 100%;
    border-radius: 10px;
    background-color: var(--primary-bg);
    padding: 20px;
    box-shadow: 5px 5px 10px var(--shadow-color);
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
}

.bill {
    list-style: none;
    background-color: var(--white);
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
}

.bill dt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

dt .name {
    font-weight: bold;
}

dt .amount {
    text-align: end;
    font-weight: bold;
    color: var(--primary-color);
}

dd {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    padding: 5px;
}

.status {
    font-weight: bold;
}

.unpaid {
    color: red;
}

.paid {
    color: green;
}

.payNowButton {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payNowButton:hover {
    background-color: var(--button-hover);
}
.payNowButton:focus {
    background-color: var(--button-focus);
}

.totalAmount {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 3px 3px 5px var(--shadow-color);
}

/* Modal Styles */
.modal {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: var(--white);
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
    height: max-content;
}

.close-button {
    color: var(--primary-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: var(--primary-dark);
    text-decoration: none;
    cursor: pointer;
}

.modal h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.modal button {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    height: 50px;
}

.modal button:hover {
    background-color: var(--button-hover);
}
.modal button:focus {
    background-color: var(--button-focus);
}

.payButtons{
    display: flex;
    gap: 10px;
}