:root {
    --primary-bg: #F8F9FA;
    --white: #f1f1f1;
    --primary-color: #1B1F3B;
    --primary-text: #1B1F3B;
    --accent-color: #C49B3B;
    --shadow-color: rgba(209, 209, 209, 0.5);
    --highlight-color: #e0e6ed;
    --button-hover: #1b1f3bc0;
    --button-active: #1b1f3b80;
    --gray: #bdbdbd;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--white);
    height: 100%;
    width: 100%;
}

@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');